<div class="container-fluid">
            <form class="form-inline">
                <input type="text" class="form-control" 
                    placeholder="Filter Reviews" 
                                   ng-focus="changeLabel('Filter:ng-focus')"
               ng-blur="changeLabel('Filter:ng-blur')"
                    ng-model="filterText">
                <button class="btn btn-default" ng-click="resetFilter()">Reset</button>
            </form>
        
    <label>{{displayLabelText}}</label>
    
    
    
        <ul class="list-group" ng-repeat="historyItem in filterHistory">
                <li class="list-group-item">{{historyItem}}</li>
            </ul>

        
            <div class="panel panel-default" 
         ng-repeat="rating in ratings| filter:filterText">
        <div class="panel-heading">
            <a href="#/reviews/{{rating.id}}">
                {{rating.rating}} out of 5 by {{rating.userName}}
            </a>
        </div>

            <div class="panel-body">
                    {{rating.comments}}
            </div>
        </div>
    </div>